@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html{
  background-color: #21262b;
  color: #3ac900;
  font-family: 'Roboto Light', sans-serif;
}
.profile_pic {
  border-radius: 50%;
  width: 175px;
  height: 175px;
}
.presentation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  height: 50vh;
}

.socials{
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  height: 10vh;
}
.icon{
  font-size: 40px;
  margin: 1vh;
}
.icon:hover{
  /*font-size: 45px;*/
  display: inline-block;
  transform: scale(1.2);
  margin-top: 1vh;
}
a {
  color: #3ac900;
  text-decoration: none;
}
a:hover{
  cursor: pointer;
}
.occupation{
  text-align: center;
  font-size: 18px;
}
.name{
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  margin-block-end: 0;
  text-align: center;
}
